
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Color_icon_white.svg/1024px-Color_icon_white.svg.png");
    font-family: 'Slabo 27px', serif;
}

.me {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

h1 {
    text-align: center;
}

.links  {

    text-align: center;
}

.bio {

    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;


}
